.DS_Store
node_modules/
dist/
.env
.env.local
.env.development
.env.test
.env.production
.env.staging
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
coverage/
.cache/
.next/
build/
tmp/
logs/
yarn-error.log
npm-debug.log*
package-lock.json
pnpm-lock.yaml
.idea/.vscode/
.history/
